- name: Log in to repositories
  docker_login:
    registry: "{{ registry }}"
    username: "{{ registry_username }}"
    password: "{{ registry_password }}"
  become: "{{ docker_become_user is defined }}"
  become_user: "{{ docker_become_user|default(omit) }}"
  loop: "{{ groups['docker_nodes'] }}"
  delegate_to: "{{ item }}"
