{% if volumes %}
volume_configs:
{% for volume in volumes %}
{% if volume.mount_type == 'service_volume' %}
  - type: volume
    source: {{ volume.name }}
    target: {{ volume.path }}
{% elif volume.mount_type == 'service_bind' %}
  - type: bind
    source: {{ volume.source }}
    target: {{ volume.target }}
{% if 'readonly' in volume %}
    readonly: {{ volume.readonly }}
{% endif %}
{% endif %}
{% endfor %}
{% else %}
volume_configs: {{ omit }}
{% endif %}
